html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
body {
    margin: 0;
    font-size: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    position: relative;
    color: $default;
    /* font */
    font-size: 16px;
    line-height: 27px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
        margin: 0 15px;
    }
    button {
        background-color: $black;
        border: none;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        padding: 0;
        font-size: 0;
    }
    li.slick-active {
        button {
            background-color: #ffef35;
        }
    }
}