/* fonts */

%title-font {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

/* colors */

$white: #ffffff;
$light-grey: #a1a1a1;
$grey: #707070;
$default: #5a5a5a;
$black: #363838;
$footer-bg: #dfdfdf;
$yellow: #ffef3580;
